* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --color-principal: #F0F4FD; /* Azul pastel claro */
    --color-acento: #F9A8BA; /* Rosa pastel */
    --color-semantico: #5E548E; /* Morado oscuro */
    --color-neutro: #9FA2B2; /* Gris claro */
  }

  /* Estas son las fuentes que he elegido para el menú */
  @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

  /* Este es el estilo general del menú */


  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    color: #333; /* Texto negro para mayor legibilidad */
    padding: 0 20px; /* Agrega padding a la izquierda y derecha de toda la página */
  }

  
  .menu {
    background-color: #2c3e50; /* Azul oscuro */
    color: #fff;
    padding: 40px; /* Aumenta el espacio interno del menú */
    text-align: center;
    border-radius: 5px;
    margin: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sutil sombra para un toque profesional */
    transition: background-color 0.3s ease;
  }
  
  .menu:hover {
    background-color: #34495e; /* Cambia el color al pasar el ratón sobre el menú */
  }
  
  .menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    transition: transform 0.3s ease; /* Agrega una animación al menú al pasar el ratón sobre él */
  }
  
  .menu ul:hover {
    transform: scale(1.05); /* Hace que el menú se agrande ligeramente al pasar el ratón sobre él */
  }
  
  .menu ul li {
    margin: 0 40px; /* Aumenta el espacio entre elementos del menú */
    transition: transform 0.3s ease; /* Agrega una animación a los elementos del menú */
  }
  
  .menu ul li:hover {
    transform: scale(1.1); /* Hace que los elementos del menú se agranden ligeramente al pasar el ratón sobre ellos */
  }
  
  .menu a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 18px; /* Aumenta el tamaño de la letra del menú */
    transition: color 0.3s ease;
  }
  
  .menu a:hover {
    color: #333; /* Cambia el color al pasar el ratón sobre el enlace */
  }

  .busquedas {
    margin: 20px;
    padding: 20px;
    height: 40px;
  }
  
  .custom-button {
    padding: 15px 30px; /* Aumenta el tamaño del botón */
    background-color: #fff; /* Fondo blanco para los botones */
    color: #333; /* Texto negro para mayor contraste */
    border: 1px solid #ddd; /* Borde sutil para separar del fondo */
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    border-radius: 5px;
    display: inline-block; /* Asegura que el botón no ocupe todo el ancho */
    text-decoration: none; /* Elimina el subrayado del enlace dentro del botón */
    margin: 10px; /* Añade margen para separar los botones */
  }
  
  .custom-button a {
    text-decoration: none; /* Elimina el subrayado del enlace dentro del botón */
    color: inherit; /* Hereda el color del texto del botón */
  }
  
  
  .custom-button:hover {
    background-color: #34495e; /* Cambia el color al pasar el ratón sobre el botón */
    color: #fff; /* Texto blanco para mayor contraste */
    transform: scale(1.05); /* Hace que el botón se agrande ligeramente al pasar el ratón sobre él */
  }


  .mascotas {
    display: flex;
    flex-wrap: wrap;
  }

  .titulo_mascotas {
    color: #333;
    margin-top: 20px;
    text-align: center;
    font-size: 40px;
  }

  #listaMascotas {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }



  /*-------------------------------------------------------------------- */
  
  * {
    box-sizing: border-box;
  }
  
  /*overall layout*/
  
  
  h1 {
    font: 700 48px/1.2 "Poppins", sans-serif;
    margin-bottom: 10px;
  }
  
  h2 {
    font: 700 32px/1.2 "Poppins", sans-serif;
    margin-bottom: 10px;
  }
  
  h3 {
    font: 700 24px/1.2 "Poppins", sans-serif;
    margin-bottom: 10px;
  }
  
  
  
  /*buttons & links*/
  a.button {
    outline: none;
    width: 100%;
    text-align: center;
    display: inline-block;
    border: none;
    font: 500 16px/1 "Poppins", sans-serif;
    padding: 20px;
    cursor: pointer;
    border-radius: var(--borderRadius);
    background: var(--primaryColor);
    color: var(--backgroundColor);
    position: relative;
    top: 0;
    transition: 0.2s ease;
    color: white;
    background-color: #285a8e;
  }
  a.button:hover, a.button.hover {
    top: -3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  }
  .profile {
    position: relative;
    background: var(--backgroundColor);
    color: var(--foregroundColor);
    box-shadow: 0 3px 15px rgba(51, 51, 51, 0.2);
    border-radius: 10px;
    transition: 0.2s ease;
  }
  .profile__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .profile__stats__title {
    color: var(--grayColor);
    text-transform: uppercase;
    font-size: 16px;
  }
  .profile a:hover {
    top: 0;
    box-shadow: none;
    /* background: var(--primaryShade4);  */
  }
  .profile a:active, .profile a:focus {
    top: 0;
    box-shadow: none;
    background: var(--primaryShade5);
  }
  
  .profile-imgonly {
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    display: grid;
    grid: 390px 0px/100%;
  }
  .profile-imgonly:hover {
    grid: 334px 56px/100%;
  }
  .profile-imgonly .profile__image, .profile-imgonly .profile__info {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .profile-imgonly .profile__image {
    position: relative;
  }
  .profile-imgonly .profile__image:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
  }
  .profile-imgonly .profile__stats {
    display: none;
  }
  .profile-imgonly .profile__info {
    z-index: 5;
    grid-row: 1/2;
    align-self: end;
    margin: 10px 20px;
    color: #fff;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  }
  .profile-imgonly .profile__info p {
    display: none;
  }
  .profile-imgonly .profile__cta a {
    border-radius: 0;
  }
  



.form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: 0 auto;
}

h2 {
  color: #333;
}

/* Estilos para los labels y los inputs */
label {
  display: block;
  margin-top: 10px;
  color: #555;
}


/* Estilo específico para el botón de agregar */
button {
  background-color: #6eb5e5;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #5a9ec9;
}

/* Estilos para la imagen */
#imagenMostrada {
  display: block;
  margin-top: 10px;
}

/* Paleta de colores pastel */
/* Puedes ajustar estos colores según tus preferencias */
body {
  background-color: #f2f2f2;
}

.form {
  background-color: #ffffff;
}

label,
button {
  color: #555;
}

input[type="text"],
input[type="number"],
select,
textarea {
  background-color: #f9f9f9;
  color: #333;
}

button {
  background-color: #6eb5e5;
}

button:hover {
  background-color: #5a9ec9;
}
